body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #793e008f;
  }
  .container {
    max-width: 500px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 210px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
  }
  
  .image-container img{
   max-height: 943px;
   margin-right: 20px;

  }

  .image-container{
    margin-right: 60px;
    display: flex;
    align-items: flex-start;
  }
  button {
    display: inline-block;
    padding: 10px;
    background-color: #793f00d7;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;
  }
  
  .or{
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 245px;
  }

  button:hover {
    color: #000;
    background-color: #bd8150;
  }
